.nav7 {
  padding-top: 40px;
}
.nav8 {
  justify-content: end;
  align-items: end;
  text-align: end;
  display: flex;
  padding-top: 62px;
}

.products-section {
  padding: 70px 0;
}
.products__cards {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.products__card {
  width: 268px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  transition: 0.3s;
  border-radius: 12px;
  &:hover {
    box-shadow: 3px 3px 5px rgba(167, 167, 167, 0.2);
  }
}
.card-hero-img img {
  border-radius: 8px;
  overflow: hidden;
  background: #ddd;
  width: 240px;
  height: 150px;
  object-fit: contain;
}

h4 {
  font-family: sans-serif;
  font-size: 16px;
  color: #212159;
}
p {
  font-family: sans-serif;
  font-size: 16px;
  color: red;
}

.cards-products {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
