.nav-link1 {
  height: 48px;
  padding: 12px 136px 12px 445px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}
.top {
  margin: auto;
}
.p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 474px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  color: #FAFAFA;
}
.p1 {
  display: none;
}
    
.nav1 a {
  width: 68px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  color: #FAFAFA;
  margin-right: 300px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.option {
  border: 0px;
  background-color: #000000;
  color: #FAFAFA;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}