.nav-link4{
    padding-top: 80px;
}
.nav4 h1{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
}
.nav5{
    padding-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-bottom: 40px;
}
.nav6{
    width: 170px;
    height: 145px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #0000004D;
    border-radius: 5px;
}

.img6{
    margin-top: 28px;
    margin-left: 57px;
    width: 56px;
    height: 56px;
    top: 25px;
    left: 57px;
    gap: 0px;
    opacity: 0px;
}
.h5{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-align: center;
}

.nav6:hover{
    transition: all .3s linear;
    border: 2px solid #DB4444;
    background-color: #DB4444;
    .h5{
        color: #fff;
    }
    .img6{
        color: #fff;
    }
}