.nav-link4{
    padding-top: 80px;
}
.nav4 h1{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
}

.nav6{
    width: 170px;
    height: 145px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #0000004D;
    border-radius: 5px;
}